<section class="Container">
  <main class="Content">
    <div class="ChartWrapper">
      <h2 class="ChartWrapper__Title">Followers</h2>
      <div class="ChartWrapper__Chart Chart">
        <div class="Chart__Canvas">
          <div class="Chart__Axis-X"></div>
          <div class="Chart__Axis-Y"></div>
          <div class="Chart__Graphs">

          </div>
        </div>
        <div class="Chart__Timeline">
          <div class="Chart__VisualPeriod">
          </div>
        </div>
      </div>
    </div>
  </main>
</section>
